parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$entity of method Dontdrinkandroot\\DoctrineBundle\\Repository\\TransactionalCrudRepository\<T of Dontdrinkandroot\\BridgeBundle\\Entity\\User\>\:\:create\(\) expects T of Dontdrinkandroot\\BridgeBundle\\Entity\\User, Dontdrinkandroot\\BridgeBundle\\Entity\\User given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/User/EditCommand.php

		-
			message: '#^Property Dontdrinkandroot\\BridgeBundle\\Entity\\User\:\:\$roles type mapping mismatch\: database can contain list\<string\>\|null but property expects array\<string\>\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Menu/DdrCrudAdminMenuBuilder.php

		-
			message: '#^Method Dontdrinkandroot\\BridgeBundle\\Menu\\DdrCrudAdminMenuBuilder\:\:createMoreDropdown\(\) has parameter \$additionalClasses with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Menu/DdrCrudAdminMenuBuilder.php

		-
			message: '#^Trait Dontdrinkandroot\\BridgeBundle\\Request\\RedirectToRefererTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Request/RedirectToRefererTrait.php

		-
			message: '#^Method Dontdrinkandroot\\BridgeBundle\\Tests\\TestApp\\Controller\\ExampleEntityController\:\:getFormType\(\) return type with generic interface Symfony\\Component\\Form\\FormTypeInterface does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: tests/TestApp/Controller/ExampleEntityController.php
