parameters:
	ignoreErrors:
		-
			message: '#^Property Dontdrinkandroot\\BridgeBundle\\Entity\\User\:\:\$roles type mapping mismatch\: database can contain list\<string\>\|null but property expects array\<string\>\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Trait Dontdrinkandroot\\BridgeBundle\\Request\\RedirectToRefererTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Request/RedirectToRefererTrait.php

		-
			message: '#^Call to function is_a\(\) with arguments class\-string\<T of Dontdrinkandroot\\DoctrineBundle\\Entity\\UuidIdentifiedInterface\>, ''Dontdrinkandroot\\\\DoctrineBundle\\\\Entity\\\\UuidIdentifiedInterface'' and true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Service/DdrCrudAdmin/UuidEntityItemProvider.php
