<button class="dropdown-toggle ddr-no-caret btn btn-sm btn-link"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
>
    <span class="fas fa-fw fa-ellipsis-v"></span>
</button>
<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
    {% block ddr_crud_admin_entity_item_actions_dropdown_menu_content %}
        {{ include('@DdrBridge/DdrCrudAdmin/entity-item.actions.dropdown-content.partial.html.twig') }}
    {% endblock ddr_crud_admin_entity_item_actions_dropdown_menu_content %}
</div>
